/* Posicionar el ícono de cerrar (X) */
.modal-header {
    position: relative;
  }
  
  button.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  button.close-button img {
    width: 20px;
    height: 20px;
  }
  
  .formulario {
    background: rgba(255, 255, 255, 0.95);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
    color: #2980b9;
  }
  
  input {
    padding: 0.85rem;
    border: 1px solid #3498db;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f9f9f9;
  }
  
  .error-message {
    color: #e74c3c;
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }
  
  .submit-button {
    padding: 0.85rem;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1.2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none; 
    border-radius: 50px;
  }

  .cambiarBoton{
    padding: 0.85rem;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1.2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none; 
    border-radius: 50px;
    background-color: #037AB5;
    color: white;
  }
  
  /* Estilo cuando el formulario es válido */
  .active-button {
    background-color: #037AB5; /* Verde fuerte */
    color: white;
  }
  
  /* Efecto hover solo cuando el botón está habilitado */
  .active-button:hover {
    background-color: rgb(25, 152, 230); /* Verde más oscuro en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave al hacer hover */
  }

  .cambiarBoton:hover {
    background-color: rgb(25, 152, 230); /* Verde más oscuro en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave al hacer hover */
  }
  
  /* Estilo cuando el formulario es inválido (botón deshabilitado) */
  .disabled-button {
    background-color: #bdc3c7; /* Gris claro */
    color: #7f8c8d; /* Texto más pálido */
    cursor: not-allowed; /* Cambia el cursor a no permitido */
  }
  
  

  