<div class="contenedor-general">
  <div class="modal-header">
    <button type="button" class="close-button" (click)="onCancel()">
      <img src="assets\icons\xmark-svgrepo-com.svg" alt="Cerrar">
    </button>
  </div>

  <div class="login-container">
    <div class="formulario">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <h1>Inicia sesión en LavaWash</h1>

        <div *ngIf="!isAdminLogin">
          <div class="form-group">
            <label for="id_usuario">ID Usuario:</label>
            <input type="text" id="id_usuario" name="id_usuario" [(ngModel)]="usuario.id_usuario" required>
          </div>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" [(ngModel)]="usuario.password" required>
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="isAdminLogin">
            <div class="form-group">
              <label for="id_admin">ID Administrador:</label>
              <input type="text" id="id_admin" name="id_admin" [(ngModel)]="admin.id_admin" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" id="password" name="password" [(ngModel)]="admin.password" required>
            </div>
          </div>
        </div>
        <div class="button-group">
          <button class="submit-button" type="submit" [disabled]="loginForm.invalid"
          [ngClass]="{'disabled-button': loginForm.invalid, 'active-button': loginForm.valid}" >{{ isAdminLogin ? 'Login Administrador' : 'Login Usuario' }}</button>
        </div>
      </form>
      <button (click)="toggleLogin()" class="cambiarBoton">
        {{ isAdminLogin ? 'Cambiar a Login de Usuario' : 'Cambiar a Login de Administrador' }}
      </button>
    </div>


  </div>

</div>