<head>
  <meta name="description" content="Administra tus vehículos y citas de manera eficiente con nuestra plataforma. Registra nuevos vehículos, edita información existente y agenda citas fácilmente. Únete hoy y mantén tu auto en perfecto estado.">
</head>
<div class="contenedorPrincipal">
  <!-- Sección izquierda con logo -->
  <div class="seccionIzquierda">
    <img  src="assets\images\empresaLogo.webp" alt="Logo de la empresa" class="logoEmpresa">
  </div>

  <!-- Sección derecha con botones y texto -->
  <div class="seccionDerecha">
    <div>
      <h1>Tu auto también debe brillar</h1>
    </div>
    <div>
      <p>Únete hoy</p>
    </div>
    <div class="botonRegistrar">
      <button (click)="registrarUsuario()" class="botonHome">Crear Cuenta</button>
    </div>
    <div class="botonIniciar">
      <button (click)="iniciarUsuario()" class="botonHome">Iniciar Sesión</button>
    </div>
    <div class="botonOlvidar">
      <button (click)="formularioOlvidar()" class="botonHome">Olvidé Contraseña</button>
    </div>
  </div>
</div>