<head>
  <meta name="description"
    content="Administra tus vehículos y citas de manera eficiente con nuestra plataforma. Registra nuevos vehículos, edita información existente y agenda citas fácilmente. Únete hoy y mantén tu auto en perfecto estado.">
</head>
<!-- perfil-usuario.component.html -->
<div class="perfilUsuario">
  <div class="container">
    <h1>Perfil de Usuario</h1>
    <p>Aquí puedes actualizar tu información personal.</p>
    <div class="formulario">
      <form #perfilForm="ngForm" (ngSubmit)="actualizarPerfil(perfilForm)">
        <div class="mb-3">
          <label for="nombre" class="form-label"><strong>Nombre:</strong></label>
          <input type="text" id="nombre" class="form-control" name="nombre" [(ngModel)]="usuario.nombre" required />
          <div *ngIf="perfilForm.submitted && !perfilForm.form.controls['nombre']?.valid" class="error-message">
            El nombre es requerido.
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label"><strong>Correo electrónico:</strong></label>
          <input type="email" id="email" class="form-control" name="email" [(ngModel)]="usuario.email" required />
          <div *ngIf="perfilForm.submitted && !perfilForm.form.controls['email']?.valid" class="error-message">
            El correo electrónico es requerido y debe ser válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="telefono" class="form-label"><strong>Teléfono:</strong> </label>
          <input type="text" id="telefono" class="form-control" name="telefono" [(ngModel)]="usuario.telefono"
            required />
          <div *ngIf="perfilForm.submitted && !perfilForm.form.controls['telefono']?.valid" class="error-message">
            El teléfono es requerido.
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label"><strong>Contraseña:</strong>:</label>
          <input type="password" id="password" class="form-control" name="password" [(ngModel)]="usuario.password"
            required minlength="6" />
          <div *ngIf="perfilForm.submitted && !perfilForm.form.controls['password']?.valid" class="error-message">
            La contraseña es requerida y debe tener al menos 6 caracteres.
          </div>
        </div>
        <div class="contenedorBoton">
          <button type="submit" class="btn btn-primary botonEditarPerfil" [disabled]="perfilForm.invalid">
            Actualizar información
          </button>
        </div>
      </form>
    </div>
  </div>
</div>